<div class=" about content">
  <div class="row">
    <div class="col full headline">
      <h1>HOW IT STARTED</h1>
    </div>
  </div>
  <div style="clear:both"></div>
  <hr>
  <div class="row">
    <div class="col double">
      <img src=<%= asset_path 'about_cover.jpg' %> >
    </div>
    <div class="col double">
      The Best of Craigslist started in 2012 as a comedic web series on Funny or Die starring John Pick.  It has gotten over 250,000 hits and was nominated for Best Webseries by the LA Weekly.<br>
      It has been performed at South Coast Repertory, the Public Theater’s Joe’s Pub, and MiMoDa Studio in Los Angeles.<br>
      In early 2013, after taking the video characters live for a couple of solo performances (South Coast Repertory, PowerViolence), John designed a rotating ensemble-based performance, using Craigslist posts as source material.  We also have been performing posts and inviting the real poster to attend and meet their portrayer live onstage.<br>
      It has been playing to large and receptive audiences in Los Angeles bimonthly at the MiMoDa Studio.<br>
      The show is directed and produced by John Pick.<br>
    </div>
  </div>
  <div style="clear:both"></div>
  <div class="row">
    <div class="col full headline">
      <h1>WHAT THEY SAY</h1>
    </div>
  </div>
  <div style="clear:both"></div>
  <hr>
  <div class="row">
    <div class="col full press">
        <div class="about_quote">"Hilarious and simple."</div>
        <div class="about_attribution">-Timeout LA (Critics Choice)</div>

        <div class="about_quote">"So genius….what acting is all about.”</div>
         <div class="about_attribution">-Southern California Public Radio</div>

        <div class="about_quote">"Expertly edited…absurdly hilarious"</div>
        <div class="about_attribution">-LA Weekly</div>

         <div class="about_quote">"One of L.A. best under-the-radar evening activities…leaving the audience with little room to breathe between deep belly laughter"</div>
         <div class="about_attribution">-LA I'm Yours</div>
    </div>
  </div>
  <div style="clear:both"></div>
  <div class="row">
    <div class="col full headline">
      <h1>IN THE PRESS</h1>
    </div>
  </div>
  <div style="clear:both"></div>
  <hr>
  <div class="row">
    <div class="col full press">
      <h3>LA Weekly:</h3>
      <a href="http://www.laweekly.com/2013-06-06/film-tv/tangled-web-craigslist-john-pick/" target="_blank">The Tangled Web We Watch: A Web Series That Uses Craigslist as a Window Into Our Strange Desires</a>
      <br><br>
      <h3>KPCC:</h3>
      <a href="http://www.scpr.org/programs/take-two/2013/09/30/33974/best-of-craigslist-show-turns-online-classified-ad/" target="_blank">Best of Craigslist' show turns online classified ads into art</a>
      <br><br>
      <h3>LA I’m Yours:</h3>
      <a href="http://www.laimyours.com/54970/who-is-steve-mcguinness/#more-54970" target="_blank">Who is Steve McGuinness?</a>
      <br><br>
      <h3>Timeout LA:</h3>
      <a href="http://www.timeout.com/los-angeles/theater/the-best-of-craigslist-live" target="_blank">The Best of Craigslist: Live</a>
    </div>
  </div>
  <div style="clear:both"></div>
  <div class="row">
    <div class="col full headline">
      <h1>THE CAST</h1>
    </div>
  </div>
  <div style="clear:both"></div>
  <hr>
  <div class="row">
    <div class="col full">
      <h3>The cast is a rotating group of performers that includes:</h3>
       <div class="cast_members">
        Bob Kundrat, Michael Dunn, Taylor Coffman, George Ketsios, Brent Weinbach, Levi Petree, Malcolm Smith, Emilia Hermann, Beth Stelling, Lizze Presetel, Hutchi Hancock, Rachel Rosenstein, Ian Forester, Johnny Dinan, Jessica Lowe, Alice Johnson Boher, Dana DeLorenzo, Caroline LIndy, Molly Leland, Joel Gelman, Jesse Louis, Alex Polcyn, Rebekah Ward…and John Pick.
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
