<div class="content">
  <div class="live_header">
    <div class="words">
      <h1>
        LIVE SHOWS
      </h1>
      <p>
        The best on-line posts performed live on-stage.
      </p>
      <a data-scroll href="#live_shows">
        <div class="button">
          Get Tickets
        </div>
      </a>
    </div>
    <img src=<%= asset_path 'live_cover.jpg' %> >
  </div><div class="video_header">
    <div class="words">
      <h1>
        WEB SERIES
      </h1>
      <p>
        Watch the highly praised Funny or Die videos.
      </p>
      <a data-scroll href="#videos">
       <div class="button">
         Watch Videos
        </div>
      </a>
    </div>
    <img src=<%= asset_path 'video_cover.jpg' %> >
  </div>

  <div class="rowbox">
    <div class="row" id="live_shows">
        <div class="col quad">
            <p>This is my item, there are many others like it but this one is mine.</p>
        </div>
        <div class="col quad ">
            <p>double double double double This is my item, there are many others like it but this one is mine. This is my item, there are many others like it but this one is mine. This is my item, there are many others like it but this one is mine.</p>
        </div>
        <div class="col quad for_break">
            <p>This is my item, there are many others like it but this one is mine.</p>
        </div>
        <div class="col quad">
            <p>This is my item, there are many others like it but this one is mine.</p>
        </div>
    </div> <!-- // .row -->
    <div style="clear:both"></div>
  </div>
  <div class="quote_box">
    <div class="quote">
      <h2>
        "Absurdly hilarious...expertly edited"
        <div class="attributed">-LA Weekly</div>
      </h2>
    </div>
    <img src=<%= asset_path 'yellow_character_1.jpg' %> >
  </div>
  <div class="rowbox">
     <div class="row" id="videos">
        <div class="col quad">
            <p>This is my item, there are many others like it but this one is mine.</p>
        </div>
        <div class="col quad ">
            <p>double double double double This is my item, there are many others like it but this one is mine. This is my item, there are many others like it but this one is mine. This is my item, there are many others like it but this one is mine.</p>
        </div>
        <div class="col quad for_break">
            <p>This is my item, there are many others like it but this one is mine.</p>
        </div>
        <div class="col quad">
            <p>This is my item, there are many others like it but this one is mine.</p>
        </div>
    </div> <!-- // .row -->
  <div style="clear:both"></div>
  </div>
<!-- </div> for footer in application.html -->
