<div class="home page">
  <div class="header">
    <div class="live_header"><img src=<%= asset_path 'group_live.jpg' %> ></div><div class="video_header"><img src=<%= asset_path 'group_live.jpg' %> ></div>
  </div>
  <div class="content">
    <div class="rowbox">
      <div class="row">
          <div class="col quad">
              <p>This is my item, there are many others like it but this one is mine.</p>
          </div>
          <div class="col quad ">
              <p>double double double double This is my item, there are many others like it but this one is mine. This is my item, there are many others like it but this one is mine. This is my item, there are many others like it but this one is mine.</p>
          </div>
          <div class="col quad for_break">
              <p>This is my item, there are many others like it but this one is mine.</p>
          </div>
          <div class="col quad">
              <p>This is my item, there are many others like it but this one is mine.</p>
          </div>
      </div> <!-- // .row -->
      <div style="clear:both"></div>
      <div class="row">
          <div class="col quad">
              <p>This is my item, there are many others like it but this one is mine.</p>
          </div>
          <div class="col quad ">
              <p>double double double double This is my item, there are many others like it but this one is mine. This is my item, there are many others like it but this one is mine. This is my item, there are many others like it but this one is mine.</p>
          </div>
          <div class="col quad for_break">
              <p>This is my item, there are many others like it but this one is mine.</p>
          </div>
          <div class="col quad">
              <p>This is my item, there are many others like it but this one is mine.</p>
          </div>
      </div> <!-- // .row -->
    <div style="clear:both"></div>
    </div>
  </div>
</div>