<div class="row">
  <div class="header">
    <h1>THE BEST OF CRAIGSLIST</h1>
  </div>
</div> <!-- // .row -->

<div class="row">
    <ul class="item_listing">
        <li class="col item">
            <p>This is my item, there are many others like it but this one is mine.</p>

        </li>
        <li class="col double ">
            <p>double double double double</p>
        </li>
        <li class="col item second">
            <p>This is my item, there are many others like it but this one is mine.</p>
        </li>
    </ul> <!-- // .item_listing -->
</div> <!-- // .row -->
<div style="clear:both">

<div class="row">
    <ul class="item_listing">
        <li class="col item">
            <p>This is my item, there are many others like it but this one is mine.</p>
        </li>
        <li class="col item">
            <p>This is my item, there are many others like it but this one is mine.</p>
        </li>
        <li class="col item second">
            <p>This is my item, there are many others like it but this one is mine.</p>
        </li>
        <li class="col item">
            <p>This is my item, there are many others like it but this one is mine.</p>
        </li>
    </ul> <!-- // .item_listing -->
</div> <!-- // .row -->
