<div class="content">
  <div class="schedule">
    <div class="venue">
    <h2>MIMODA STUDIO</h2>
    <h3><div class="address">6539 Santa Monica Blvd</span></h3>
    <div class="dates">
        <div class="showtime">
          9/22 Monday 8:00pm | MUSICAL GUEST: The Get Down Boys
        </div>
        <a href="http://mimoda.ticketmob.com/show.cfm?id=39077&cart" target="_blank">
          <div class="sched_button">
            GET TICKETS
          </div>
        </a>
        <div style="clear:both"></div>
        <hr>
      <div class="notes">
        Entrance Thru Paper or Plastik Cafe
      </div>
    </div>
    </div>
  </div>