<div class="content">
  <div class="schedule">
    <div class="venue">
      <h2>MIMODA STUDIO</h2>
      <h3><div class="address">5772 West Pico Blvd @ Ogden</span></h3>
      <div class="dates">
        <div class="showtime">
          10/25 Saturday 8:00pm | HALLOWEEN SPECIAL
        </div>
        <a href="http://mimoda.ticketmob.com/event.cfm?id=45114" target="_blank">
          <div class="sched_button">
            GET TICKETS
          </div>
        </a>
        <div style="clear:both"></div>
        <hr>
      <div class="notes">
        Entrance Thru Paper or Plastik Cafe
      </div>
    </div>
  </div>
</div>