<div class="content">
  <div class="schedule">
    <div class="venue">
      <h1>HUDSON BACKSTAGE</h1>
      <h3>HOME OF COMEDY CENTRAL STAGE <div class="address">6539 Santa Monica Blvd</span></h3>
      <div class="dates">
        <div class="showtime">
          05/23 Friday 8:00pm | MUSICAL GUEST: Doran Danoff
        </div>
        <a href="https://www.plays411.net/newsite/boxoffice/cart.asp?show_id=3859" target="_blank">
          <div class="sched_button">
            GET TICKETS
          </div>
        </a>
        <div style="clear:both"></div>
        <hr>
        <div class="showtime">
          05/25 Sunday 8:00pm | MUSICAL GUEST: Doran Danoff
        </div>
        <a href="https://www.plays411.net/newsite/boxoffice/cart.asp?show_id=3859" target="_blank">
          <div class="sched_button">
            GET TICKETS
          </div>
        </a>
        <div style="clear:both"></div>
        <hr>
        <div class="showtime">
          05/30 Friday 8:00pm | MUSICAL GUEST: Dustbowl Revival
        </div>
        <a href="https://www.plays411.net/newsite/boxoffice/cart.asp?show_id=3859" target="_blank">
          <div class="sched_button">
            GET TICKETS
          </div>
        </a>
        <div style="clear:both"></div>
        <hr>
        <div class="showtime">
          06/01 Sunday 8:00pm | MUSICAL GUEST: Dustbowl Revival
        </div>
        <a href="https://www.plays411.net/newsite/boxoffice/cart.asp?show_id=3859" target="_blank">
          <div class="sched_button">
            GET TICKETS
          </div>
        </a>
        <div style="clear:both"></div>
        <hr>
        <div class="showtime">
          06/06 Friday 8:00pm | MUSICAL GUEST: Levi Petree and Radio Publica
        </div>
        <a href="https://www.plays411.net/newsite/boxoffice/cart.asp?show_id=3859" target="_blank">
          <div class="sched_button">
            GET TICKETS
          </div>
        </a>
        <div style="clear:both"></div>
        <hr>
        <div class="showtime">
          06/08 Sunday 8:00pm | MUSICAL GUEST: John Isaac Waters
        </div>
        <a href="https://www.plays411.net/newsite/boxoffice/cart.asp?show_id=3859" target="_blank">
          <div class="sched_button">
            GET TICKETS
          </div>
        </a>
        <div style="clear:both"></div>
        <hr>
      </div>
      <div class="notes">
        Valet Parking available
      </div>
    </div>
    <div class="venue">
      <h1>HUDSON BACKSTAGE</h1>
      <h3>HOME OF COMEDY CENTRAL STAGE <div class="address">6539 Santa Monica Blvd</span></h3>
      <div class="dates">
          <div class="showtime">
            6/13 Friday 9:45pm | MUSICAL GUEST: The Coals*
          </div>
          <a href="http://www.hollywoodfringe.org/projects/1703?tab=tickets" target="_blank">
            <div class="sched_button">
              GET TICKETS
            </div>
          </a>
          <div style="clear:both"></div>
        <hr>
          <div class="showtime">
            6/14 Saturday 8pm | MUSICAL GUEST: Levi Petree and Radio Publica*
          </div>
          <a href="http://www.hollywoodfringe.org/projects/1703?tab=tickets" target="_blank">
            <div class="sched_button">
              GET TICKETS
            </div>
          </a>
          <div style="clear:both"></div>
        <hr>
          <div class="showtime">
            6/15 Sunday 8pm | MUSICAL GUEST: TBD*
          </div>
          <a href="http://www.hollywoodfringe.org/projects/1703?tab=tickets" target="_blank">
            <div class="sched_button">
              GET TICKETS
            </div>
          </a>
          <div style="clear:both"></div>
        <hr>
          <div class="showtime">
            6/21 Saturday 5:30pm | MUSICAL GUEST: Kate Brown*
          </div>
          <a href="http://www.hollywoodfringe.org/projects/1703?tab=tickets" target="_blank">
            <div class="sched_button">
              GET TICKETS
            </div>
          </a>
          <div style="clear:both"></div>
        <hr>
          <div class="showtime">
            6/22 Sunday 3pm | MUSICAL GUEST: Doran Danoff*
          </div>
          <a href="http://www.hollywoodfringe.org/projects/1703?tab=tickets" target="_blank">
            <div class="sched_button">
              GET TICKETS
            </div>
          </a>
          <div style="clear:both"></div>
        <hr>
          <div class="showtime">
            6/28 Sunday 9:45pm | MUSICAL GUEST: Doran Danoff*
          </div>
          <a href="http://www.hollywoodfringe.org/projects/1703?tab=tickets" target="_blank">
            <div class="sched_button">
              GET TICKETS
            </div>
          </a>
          <div style="clear:both"></div>
        <hr>
      </div>
      <div class="notes">
        *PART OF HOLLYWOOD FRINGE FESTIVAL<br>
        Valet Parking available
      </div>
    </div>
  </div>