@import "variables.css.scss" , "mixins.css.scss";

/* =================================== */
/* General */


html{
  height: 100%;
  width:100%;
}

body {
  font-family: 'open_sanscondensed_light', Sans-Serif;
  font-size:18px;
  -webkit-font-smoothing: antialiased;
  letter-spacing:1px;
  color:white;
  width:100%;
  height: 100%;
  min-height:100%;
}

a {
  text-decoration:none;
  color:white;
}

.page {
  height:auto;
}

.row {
  width:90%;
  margin:0 auto;

}

.content {
  width:100%;
  min-height:100%;
  position:relative;
  background:white;
  color:$darkBlue;
  @include transition;
  z-index:2;
}

h1 {
  font-family: 'ralewayheavy', Sans-Serif;
  letter-spacing:1px;
}

h2 {
  font-family: 'ralewayheavy', Sans-Serif;
  letter-spacing:2px;
}

h3 {
  font-family: 'open_sanscondensed_light', Sans-Serif;
  letter-spacing:4px;
}

.col {
   height:auto;
   padding:2%;
   color:$darkBlue;

   img {
    width:100%;
    height:auto;
   }
}

hr {
  border:0;
  background:$lightGold;
  height:1px;
  width:88%;
  margin:0px auto;
}

.fb_icon {
  z-index:105;
  margin:2% 0 2% 2%;

  img {
    margin-right:10px;
    vertical-align: bottom;
  }
}

.video-content {
  width:100% !important;
}

/* =================================== */
/* Navigation */

.nav {
  background:$mediumBlue;
  z-index:100;
  position:fixed;
  width:100%;

  a {

  }

  ul {
    text-align:center;
  }

  li {
    width:25%;
    display:inline-block;
    padding:10px 0;
    @include transition;
  }

  li:hover {
    background:$darkGold;
  }

  .border {
    padding:10px;
  }
}

/* =================================== */
/* Home */

.logo {
  background:$mediumBlue;
  text-align:center;
  width:100%;
  height:auto;
  padding:115px 0 70px 0;
  position:fixed;
  z-index:1;
  top:0;

  img {
    width:50%;
    max-width:450px;
    min-width:270px;
  }
}


.live_header, .video_header {
  width:50%;
  display:inline-block;
  position:relative;
  margin-top:-3px;

  img {
    width:100%;
  }

  .words {
    color:white;
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;

    h1 {
      margin-top:20px;
    }
  }
}

.button {
  font-family: 'open_sansregular', Sans-Serif;
  font-size: 24px;
  border:2px white solid;
  padding:10px 5px;
  width:50%;
  max-width:350px;
  position:absolute;
  top:50%;
  left: 0;
  right: 0;
  margin:0 auto;
  @include transition;
}

.button:hover {
  background:white;
  color:$darkBlue;
}

.quote_box {
  width:100%;
  height:auto;
  display:inline-block;
  position:relative;

  img {
    width:100%;
  }
}

.quote {
  position:absolute;
  top:15%;
  left:0;
  right:0;
  padding:0 10%;
  color:white;

  .attributed {
    text-align:left;
  }
}

.description {
  text-align:center;
  width:80%;
  margin: 10% auto;
  color:$lightBlue;

  hr {
    width:100%;
  }

  h3 {
    color:$lightBlue;
    padding-bottom:10px;
  }

  .type {
    padding:40px;
    font-family: 'open_sansregular';
  }
}

.upcoming {
  width:96%;
  margin:5% auto 0 auto;

  h1 {
    color:$mediumBlue;
  }

  h2 {

  }
}

/* =================================== */
/* About */

.about {
  font-family: 'open_sanslight', Sans-Serif;
  padding-top: 30px;

  h1 {
    color:$mediumBlue;
    padding-top:2%;
  }

  .headline {
    padding-bottom:0;
  }

  .about_quote {
    font-size:60px;
    color:$darkBlue;
    font-family: 'open_sanscondensed_light', Sans-Serif;
  }

  .about_attribution {
    color:$lightGold;
    padding:1% 0 3% 1%;
    font-size:20px;
  }
}

.press {

  h3 {
    display:inline-block;
  }

  a {
    color:$mediumBlue;
  }
}

.cast_members {
  color:$mediumBlue;
  margin-top:1%;
  margin-bottom:5%;
}

/* =================================== */
/* Schedule */

.schedule {
  width:90%;
  padding:2%;
  margin:0 auto;

  hr {
    width:100%;
    margin:5px 0 20px 0;
  }

  .address {
    color:$darkGold;
  }

  .dates {
    margin-top:2%;
  }
}

.venue {
  margin:4% 0 7% 0;
}

.show {
  width:100%;
}

.showtime {
  display:inline-block;
  vertical-align: bottom;
  padding-top:6px;
}

.sched_button {
  float:right;
  border:1px $darkBlue solid;
  color: $darkBlue;
  padding: 3px 5px;
  @include transition;
}

.sched_button:hover {
  border:1px $lightGold solid;
}

.full_button {
  border:1px $darkBlue solid;
  padding:2% 1%;
  width:30%;
  margin:2% auto;
  min-width:200px;
  color:$darkBlue;
  text-align:center;
  @include transition;

  &:hover {
    background:$lightGold;
    color:white;
    border: 1px $lightGold solid;
  }
}

/* =================================== */
/* Videos */

.videos {
  width:90%;
  padding:2%;
  margin:0 auto 10% auto;

  hr {
    width:95%;
  }

}

.video_text {
  padding:2%;
  margin:0 auto;
}

.home_video_area {
  margin: 5% auto;
  width:90%;
  color:$darkBlue;

  h1 {
    color:$mediumBlue;
  }
}

.video_sample {
  width:50%;
  text-align:center;
  display:inline-block;

  a {
    color:$mediumBlue;
  }

  img {
    width:90%;
    padding: 5% 5% 1% 5%;
  }
}

.series_button {
  border:1px $darkBlue solid;
  padding:2% 1%;
  width:30%;
  margin:4% auto;
  min-width:200px;
  color:$darkBlue;
  text-align:center;
  @include transition;

  &:hover {
    background:$lightGold;
    color:white;
    border: 1px $lightGold solid;
  }
}

/* =================================== */
/* Footer */

.footer {
  background:$mediumBlue;
  color:white;
  height:auto;
  padding: 30px 0 50px 0;

  .col {
    color:white;
  }
}

.contact_header {
  width:90%;
  margin:0 auto;
  padding-left:3%;
}

.contact_box {
  width:90%;
  margin:0 auto;
}

.contact {
  padding-top: 15px;
  padding-bottom: 16px;
  margin-top: 25px;
  font-size:20px;
  letter-spacing:1px;
  line-height:22px;
  border:1px white solid;
}



/* =================================== */
/* Responsive 0px - 479px */


@media screen and (min-width: 0px) and (max-width: 479px) {

  body {
    font-size:15px;
  }

  .live_header, .video_header {
    width:100%;
  }

  h1 {
    font-size:48px;
  }

  h2, h3 {
    font-size:20px;
    line-height:24px;
  }

  .button {
    font-size: 20px;
    opacity:1;
    padding:8px 3px;
    width:50%;
    max-width:350px;
  }

  .about {

    .about_quote {
      font-size:40px;
    }

    .about_attribution {
      font-size:10px;
    }
  }

  .sched_button {
    float:left;
  }

  .showtime {
    margin-bottom:8px;
    width:100%;
  }

  .video_sample {
    width:100%;
    display:block;
  }
}



/* =================================== */
/* Responsive 480px - 769px */


@media screen and (min-width: 480px) and (max-width: 769px) {

 .live_header, .video_header {
   width:100%;
 }

  h1 {
    font-size:74px;
  }

  h2, h3 {
    font-size:32px;
    line-height:36px;
  }

  .about {

    .about_quote {
      font-size:50px;
    }

    .about_attribution {
      font-size:15px;
    }
  }

  .sched_button {
    float:left;
  }

  .showtime {
    margin-bottom:8px;
    width:100%;
  }

  .video_sample {
    width:100%;
    display:block;
  }
}



/* =================================== */
/* Responsive 770px - 959px */


@media screen and (min-width: 770px) and (max-width: 959px) {

  h1 {
    font-size:58px;
  }

  h2, h3 {
    font-size:25px;
    line-height:29px;
  }
}

/* =================================== */
/* Responsive 960px - 1349px */


@media screen and (min-width: 960px) and (max-width: 1349px){
  body {
    font-size:22px;
  }

  h1 {
    font-size:70px;
  }

  h2, h3 {
    font-size:30px;
    line-height:34px;
  }

  .button {
    font-size: 30px;
  }
}

/* =================================== */
/* Responsive 1350px - ∞ */


@media screen and (min-width: 1350px) {
  body {
    font-size:24px;
  }

  h1 {
    font-size:100px;
  }

  h2, h3 {
    font-size:40px;
    line-height:44px;
  }

  .button {
    font-size: 30px;
  }
}
