<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns:fb="http://www.facebook.com/2008/fbml"
    xmlns:og="http://opengraphprotocol.org/schema/"
    xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
    lang="en" dir="ltr"> <!--<![endif]-->
<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
<h1 style="color:black; text-align:center; margin: 50px auto 0 auto;">Looks like we've got ourselves a missed connection.</h1>
</body>
</html>
